# Ignore virtual environment
venv/
ENV/
.venv/

# Ignore SQLite database
db.sqlite3

# Ignore Django migration files (optional)
*/migrations/__pycache__/
*/migrations/*.py

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store

