Django
djangorestframework
django-cors-headers
Pillow
django-crispy-forms
crispy-bootstrap5
django-allauth
celery
redis
reportlab
qrcode
python-decouple
stripe
paypal-checkout-serversdk
django-storages
boto3
whitenoise
gunicorn
psycopg2-binary